<!doctype html>
<html>
    <head>
        <title>Travel site</title>
        <style>body {background-color: blue}</style>
    </head>
    <body>
        
        <header>
        <img src="logo.img" alt='logo should be here'>
        
        </header>
        <p style="color: red">ALTERNATIVE LAOUYT</p>
        {{{body}}}

        <footer><b>
        {{{copyrights}}}
        </b></footer>
    </body>
</html>