<!doctype html>
<html>
    <head>
        <title>Travel site</title>
    </head>
    <body>
        <header>
        <img src="logo.jpg" alt='logo should be here'>
        <div class='links-section'>
            <a href='/'>HOME</a><br>
            <a href='/headers'>CHECK SERVER HEADER</a><br>
            <a href='/reqdetail'>CHECK YOUR HEADER</a><br>
            <a href='/about'>ABOUT</a><br>
            <a href='/newsletter-signup'>NEWSLETTER</a><br>
        </div>
        
        </header>
        {{{body}}}

        <footer><b>
        {{{copyrights}}}
        </b></footer>
    </body>
</html>